<script src="https://cdn.tailwindcss.com"></script>

<div class="py-[16px] bg-[#003C34]">
  <div class="hfn_container-desktop">
    <div class="hfi_container">
      <div class="flex text-white items-center">
        <svg
          class="mr-[5px]"
          width="18"
          height="13"
          viewBox="0 0 18 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M17.1025 1L6.10254 12L1.10254 7"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
        <p class="text-[16px] font-ter">Members-only perks</p>
      </div>
      <div class="flex text-white items-center">
        <svg
          class="mr-[5px]"
          width="18"
          height="13"
          viewBox="0 0 18 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M17.1025 1L6.10254 12L1.10254 7"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
        <p class="text-[16px] font-ter">Up to 40% off</p>
      </div>
      <div class="flex text-white items-center">
        <svg
          class="mr-[5px]"
          width="18"
          height="13"
          viewBox="0 0 18 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M17.1025 1L6.10254 12L1.10254 7"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
        <p class="text-[16px] font-ter">Birthday gifts</p>
      </div>
      <div class="flex text-white items-center">
        <svg
          class="mr-[5px]"
          width="18"
          height="13"
          viewBox="0 0 18 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M17.1025 1L6.10254 12L1.10254 7"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
        <p class="text-[16px] font-ter">Free shipping</p>
      </div>
      <div class="flex text-white items-center">
        <svg
          class="mr-[5px]"
          width="18"
          height="13"
          viewBox="0 0 18 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M17.1025 1L6.10254 12L1.10254 7"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
        <p class="text-[16px] font-ter">Custom wellness routines</p>
      </div>

    </div>
  </div>
  <div class="hfn_container-mobile" style="overflow: hidden;">
    <div class="hfi_container hfi_container-mobile hfi_mobile-scroll">
      <div class="flex text-white items-center">
        <svg
          class="mr-[5px]"
          width="13"
          height="10"
          viewBox="0 0 13 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11.936 1.5L4.60262 8.83333L1.26929 5.5"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>

        <p class="text-[14px] font-ter">Members-only perks</p>
      </div>
      <div class="flex text-white items-center">
        <svg
          class="mr-[5px]"
          width="13"
          height="10"
          viewBox="0 0 13 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11.936 1.5L4.60262 8.83333L1.26929 5.5"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>

        <p class="text-[14px] font-ter">Up to 40% off</p>
      </div>
      <div class="flex text-white items-center">
        <svg
          class="mr-[5px]"
          width="13"
          height="10"
          viewBox="0 0 13 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11.936 1.5L4.60262 8.83333L1.26929 5.5"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>

        <p class="text-[14px] font-ter">Birthday gifts</p>
      </div>
      <div class="flex text-white items-center">
        <svg
          class="mr-[5px]"
          width="13"
          height="10"
          viewBox="0 0 13 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11.936 1.5L4.60262 8.83333L1.26929 5.5"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>

        <p class="text-[14px] font-ter">Free shipping</p>
      </div>
      <div class="flex text-white items-center">
        <svg
          class="mr-[5px]"
          width="13"
          height="10"
          viewBox="0 0 13 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11.936 1.5L4.60262 8.83333L1.26929 5.5"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>

        <p class="text-[14px] font-ter">Custom wellness routines</p>
      </div>
      <!--
      <img
      src="https://cdn.shopify.com/s/files/1/1824/8017/files/All_Publications_Mens-Health.png?v=1651250261"
      alt="Men's Health"
      loading="lazy">
      <img
      src="https://cdn.shopify.com/s/files/1/1824/8017/files/All_Publications_Allure.png?v=1640816741"
      alt="Allure"
      loading="lazy">
      <img
      src="https://cdn.shopify.com/s/files/1/1824/8017/files/All_Publications_MensJournal.png?v=1672165933"
      alt="Men's Journal"
      loading="lazy">
      <img
      src="https://cdn.shopify.com/s/files/1/1824/8017/files/All_Publications_Elle.png?v=1640816741"
      alt="Elle"
      loading="lazy">
      <img
      src="https://cdn.shopify.com/s/files/1/1824/8017/files/All_Publications_Vogue.png?v=1640816740"
      alt="Vogue"
      loading="lazy">
      <img
      src="https://cdn.shopify.com/s/files/1/1824/8017/files/All_Publications-Forbes.png?v=1640816741"
      alt="Forbes"
      loading="lazy">
      <img
      src="https://cdn.shopify.com/s/files/1/1824/8017/files/All_Publications_Womens-Health.png?v=1640816741"
      alt="Women's Health"
      loading="lazy">
      <img
      src="https://cdn.shopify.com/s/files/1/1824/8017/files/All_Publications_Popsugar.png?v=1640816741"
      alt="Popsugar"
      loading="lazy">
      <img
      src="https://cdn.shopify.com/s/files/1/1824/8017/files/All_Publications_Shape.png?v=1640816741"
      alt="Shape"
      loading="lazy">
      <img
      src="https://cdn.shopify.com/s/files/1/1824/8017/files/All_Publications_Mens-Health.png?v=1651250261"
      alt="Men's Health"
      loading="lazy">
      <img
      src="https://cdn.shopify.com/s/files/1/1824/8017/files/All_Publications_Allure.png?v=1640816741"
      alt="Allure"
      loading="lazy">
      <img
      src="https://cdn.shopify.com/s/files/1/1824/8017/files/All_Publications_MensJournal.png?v=1672165933"
      alt="Men's Journal"
      loading="lazy">
      <img
      src="https://cdn.shopify.com/s/files/1/1824/8017/files/All_Publications_Elle.png?v=1640816741"
      alt="Elle"
      loading="lazy">
      -->
    </div>
  </div>
</div>

<style>
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .font-mon {
    font-family: 'Montserrat', sans-serif;
  }
  .font-ter {
    font-family: 'Termina', sans-serif;
  }
  .font-ivy {
    font-family: IvyJournal, serif
  }

  .hfi_container {
    width: max-content;
    display: flex;
    gap: 4em;
    margin: auto;
    max-height: 75px;
    overflow: hidden;
  }

  .hfi_container > img {
    align-self: center;
    height: 21px;
  }

  .hfi_container-mobile {
    min-width: max-content;
    overflow: hidden;
  }

  .hfi_mobile-scroll {
    animation: scrollText 22s infinite linear;
  }

  @keyframes scrollText {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-50%);
    }
  }

  @media all and (max-width: 1182px) {
    .hfn_container-desktop {
      display: none;
    }

    .hfn_container-mobile {
      display: block;
    }
  }

  @media all and (min-width: 1183px) {
    .hfn_container-desktop {
      display: block;
    }

    .hfn_container-mobile {
      display: none;
    }
  }
</style>