<div class="{% if customer == nil %} -mt-[64px] md:-mt-[73px] pt-10 {% endif %} bg-cover bg-center bg-no-repeat bg-blend-multiply" style="background-image: url('https://cdn.shopify.com/s/files/1/1824/8017/files/23Dec22_AriseLanding_chulpan-gallyamova.jpg?v=1671818361');background-color: rgba(0, 27, 23, 0.5);">
<div id="arise-faq-header" class="max-w-screen-2xl mx-auto text-center text-white">
  <button class="flex items-center">
    <svg
      class="h-4 w-4"
      viewBox="0 0 7 10"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M5.30078 8.98828L1.30078 4.98828L5.30078 0.988281"
        stroke="white"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
     Rewards
  </button>
  <img
    class="mx-auto"
    src="https://cdn.shopify.com/s/files/1/1824/8017/files/10April-Arise_Logo_NoWordmark_white.png?v=1681187887"
    alt="">
  <h2 class="mx-auto max-w-[280px] md:max-w-[unset] text-[18px] md:text-[20px] xl:text-[24px] -tracking-[0.02em] leading-[1.6] font-[400] uppercase fontTermina">
   Frequently Asked Questions
  </h2>
</div>
</div>

<!-- accordians, first block of 4 -->
<div id="" class="accordians faqs-container mx-auto">
<div class="al_acc border-b border-t border-[#D9D9D9] ">
  <div class="relative cursor-pointer">
    <h6 class="py-3.5 xl:py-5 cym-h-2-sm md:cym-h-2 xl:cym-h-2-lg">
      What is Arise?
    </h6>
    <svg
      class="absolute top-1/2 -translate-y-1/2"
      viewBox="0 0 17 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M4.64355 6.60645L8.64355 10.6064L12.6436 6.60645"
        stroke="#222222"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </div>
  <p class="cym-p-1-sm overflow-hidden">Arise is a loyalty program and a community hub for all things health and wellness. It’s designed to assist you in your health journey with the benefit of substantial discounts, subscriber-only rewards, and perks.
    <span class="block h-3 2xl:h-5"></span>
  </p>
</div>
<div class="al_acc border-b first:border-t border-[#D9D9D9] ">
  <div class="relative cursor-pointer">
    <h6 class="py-3.5 xl:py-5 cym-h-2-sm md:cym-h-2 xl:cym-h-2-lg">
      How does Arise work?
    </h6>
    <svg
      class="absolute top-1/2 -translate-y-1/2"
      viewBox="0 0 17 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M4.64355 6.60645L8.64355 10.6064L12.6436 6.60645"
        stroke="#222222"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </div>
  <p class="cym-p-1-sm overflow-hidden">
    You automatically have access to Arise when you have an active subscription.
    <span class="block h-3 2xl:h-5"></span>
  </p>
  <p class="cym-p-1-sm overflow-hidden">
    As your health journey progresses, you'll unlock new tiers with even more rewards and benefits. Each tier comes with a token that unlocks new and exciting experiences and valuable savings. Additionally, you can participate in Arise wellness challenges to earn even more tokens.
    <span class="block h-3 2xl:h-5"></span>
  </p>
  <p class="cym-p-1-sm overflow-hidden">
    Learn more about
    <a href="https://cymbiotika.com/pages/introducing-arise" class="font-bold underline">Arise</a>
    <span class="block h-3 2xl:h-5"></span>
  </p>
</div>
<div class="al_acc border-b first:border-t border-[#D9D9D9] ">
  <div class="relative cursor-pointer">
    <h6 class="py-3.5 xl:py-5 cym-h-2-sm md:cym-h-2 xl:cym-h-2-lg">
      Do I have to pay for Arise?
    </h6>
    <svg
      class="absolute top-1/2 -translate-y-1/2"
      viewBox="0 0 17 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M4.64355 6.60645L8.64355 10.6064L12.6436 6.60645"
        stroke="#222222"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </div>
  <p class="cym-p-1-sm overflow-hidden">Nope! There are no extra fees. All you need is an active subscription to access Arise.
    <span class="block h-3 2xl:h-5"></span>
  </p>
</div>
<div class="al_acc border-b first:border-t border-[#D9D9D9] ">
  <div class="relative cursor-pointer">
    <h6 class="py-3.5 xl:py-5 cym-h-2-sm md:cym-h-2 xl:cym-h-2-lg">
      How do I create an account?
    </h6>
    <svg
      class="absolute top-1/2 -translate-y-1/2"
      viewBox="0 0 17 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M4.64355 6.60645L8.64355 10.6064L12.6436 6.60645"
        stroke="#222222"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </div>
  <p class="cym-p-1-sm overflow-hidden">
    Simply create a subscription to enroll in Arise.
    <span class="block h-3 2xl:h-5"></span>
  </p>
  <p class="cym-p-1-sm overflow-hidden">
    Ready to get started?
    <a href="https://cymbiotika.com/pages/create-your-bundle" class="font-bold underline">Click here</a> to create a subscription.
    <span class="block h-3 2xl:h-5"></span>
  </p>
  <p class="cym-p-1-sm overflow-hidden">
    If you already have an active subscription, you can access your account
    <a href="https://cymbiotika.com/account/login" class="font-bold underline">here</a>
    <span class="block h-3 2xl:h-5"></span>
  </p>
  <p class="cym-p-1-sm overflow-hidden">
    If you already have an active subscription but still need to set up an account, you can create a free one
    <a href="https://cymbiotika.com/account/login" class="font-bold underline">here</a>
    <span class="block h-3 2xl:h-5"></span>
  </p>
</div>
</div>

<div class="text-center font-ivy text-xl md:text-[22px] -tracking-[0.02em] leading-[1.4] font-[400]">Interested in the Technicals?</div>
<div id="" class="accordians faqs-container mx-auto mb-[16px] md:mb-[40px]">

<div class="al_acc border-b first:border-t border-[#D9D9D9] ">
  <div class="relative cursor-pointer">
    <h6 class="py-3.5 xl:py-5 cym-h-2-sm md:cym-h-2 xl:cym-h-2-lg">
      What is an Arise Wallet?
    </h6>
    <svg
      class="absolute top-1/2 -translate-y-1/2"
      viewBox="0 0 17 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M4.64355 6.60645L8.64355 10.6064L12.6436 6.60645"
        stroke="#222222"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </div>
  <p class="cym-p-1-sm overflow-hidden">
    The Arise Wallet stores your tokens. Tokens are earned from completing wellness challenges and participating in Arise.
    <span class="block h-3 2xl:h-5"></span>
  </p>
  <p class="cym-p-1-sm overflow-hidden">
    You can also manage and view tokens that have not been redeemed and learn more about how to redeem them. Stay tuned for updates to Arise that will allow you to transfer and hold your collectibles!
    <span class="block h-3 2xl:h-5"></span>
  </p>
</div>
<div class="al_acc border-b first:border-t border-[#D9D9D9] ">
  <div class="relative cursor-pointer">
    <h6 class="py-3.5 xl:py-5 cym-h-2-sm md:cym-h-2 xl:cym-h-2-lg">
      How do I earn Arise tokens?
    </h6>
    <svg
      class="absolute top-1/2 -translate-y-1/2"
      viewBox="0 0 17 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M4.64355 6.60645L8.64355 10.6064L12.6436 6.60645"
        stroke="#222222"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </div>
  <p class="cym-p-1-sm overflow-hidden">
    With each tier, you will be gifted a token that unlocks new and more valuable savings and experiences.
    <span class="block h-3 2xl:h-5"></span>
  </p>
  <p class="cym-p-1-sm overflow-hidden">
    You can also unlock Arise tokens by participating in wellness challenges.
    <span class="block h-3 2xl:h-5"></span>
  </p>
</div>
<div class="al_acc border-b first:border-t border-[#D9D9D9] ">
  <div class="relative cursor-pointer">
    <h6 class="py-3.5 xl:py-5 cym-h-2-sm md:cym-h-2 xl:cym-h-2-lg">
      What is a token?
    </h6>
    <svg
      class="absolute top-1/2 -translate-y-1/2"
      viewBox="0 0 17 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M4.64355 6.60645L8.64355 10.6064L12.6436 6.60645"
        stroke="#222222"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </div>
  <p class="cym-p-1-sm overflow-hidden">
    A token refers to a digital collectible, also known as a non-fungible token (NFT). This type of digital asset links ownership to unique physical or digital items, such as works of art, real estate, music, or videos. NFTs are considered modern-day collectibles and are bought and sold online, providing digital proof of ownership to their owners. For more information on NFTs, click
    <a href="https://www.ibm.com/blogs/blockchain/2021/04/the-rising-nft-tide-lifts-all-tokens-so-what-is-an-nft/" class="font-bold underline">here</a>.
    <span class="block h-3 2xl:h-5"></span>
  </p>
  <p class="cym-p-1-sm overflow-hidden">
    <span class="font-bold">Baseball card anaology</span><br />
    To paint a clearer picture, think about baseball trading cards. When you start collecting them, they may not seem like much, but the card's value increases as the player's career progresses and they achieve more success.
    <span class="block h-3 2xl:h-5"></span>
  </p>
  <p class="cym-p-1-sm overflow-hidden">
    This is similar to how our tokens work. When you start collecting tokens, they may not seem like much, but over time, the value of each token increases as you progress through your health journey. As you accumulate more and more, they can become a powerful symbol of your commitment to personal wellness.
    <span class="block h-3 2xl:h-5"></span>
  </p>
</div>
<div class="al_acc border-b first:border-t border-[#D9D9D9] ">
  <div class="relative cursor-pointer">
    <h6 class="py-3.5 xl:py-5 cym-h-2-sm md:cym-h-2 xl:cym-h-2-lg">
      Why did we choose NFTs?
    </h6>
    <svg
      class="absolute top-1/2 -translate-y-1/2"
      viewBox="0 0 17 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M4.64355 6.60645L8.64355 10.6064L12.6436 6.60645"
        stroke="#222222"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </div>
  <p class="cym-p-1-sm overflow-hidden">We wanted an innovative way to deliver this new loyalty experience. As our loyalty program expands, there will be many opportunities to collect and trade collectibles.
    <span class="block h-3 2xl:h-5"></span>
  </p>
</div>
<div class="al_acc border-b first:border-t border-[#D9D9D9] ">
  <div class="relative cursor-pointer">
    <h6 class="py-3.5 xl:py-5 cym-h-2-sm md:cym-h-2 xl:cym-h-2-lg">
      What blockchain is Arise hosted on?
    </h6>
    <svg
      class="absolute top-1/2 -translate-y-1/2"
      viewBox="0 0 17 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M4.64355 6.60645L8.64355 10.6064L12.6436 6.60645"
        stroke="#222222"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </div>
  <p class="cym-p-1-sm overflow-hidden">Our tokens are stored on the Polygon blockchain. We chose Polygon because of its proof-of-stake method, which reduces the amount of computational work needed to verify blocks and transactions, making Polygon one of the most eco-friendly blockchains and one of the first blockchains to be climate positive. For more information, click
    <a href="https://polygon.technology/blog/category/sustainability">here.</a>
    <span class="block h-3 2xl:h-5"></span>
  </p>
</div>
</div>
<style>
.faqs-container {
  width: 100%;
  padding: 20px;
}
.al_acc svg {
  width: 16px;
  height: 16px;
  right: 8px;
}
.al_acc h6 {
  padding-left: 8px;
}
.al_acc p {
  padding-left: 18px;
}
#arise-faq-header button {
  text-decoration-line: underline;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.08em;
  column-gap: 4px;
}
#arise-faq-header {
  padding: 20px 20px 28px;
}
#arise-faq-header img {
  width: 100px;
  padding: 10px 0 12px;
}
@media(min-width: 768px) {
  .faqs-container {
    padding: 40px 0;
    width: 600px;
  }
  .al_acc h6 {
    padding-left: 10px;
  }
  .al_acc svg {
    right: 10px;
  }
  .al_acc p {
    font-size: 14px;
    padding-left: 20px;
  }
  #arise-faq-header button {
    column-gap: 12px;
  }
  #arise-faq-header img {
    width: 100px;
    padding: 20px 0 16px;
  }
  #arise-faq-header {
    padding: 28px 36px 40px;
  }
}
@media(min-width: 960px) {
  .faqs-container {
    width: 780px;
  }
  #arise-faq-header {
    padding: 20px 36px 40px;
  };
  /* .al_acc p {
  font-size: 16px;
} */
}
@media(min-width: 1280px) {
  .al_acc svg {
    width: 24px;
    height: 24px;
  }
  #arise-faq-header img {
    width: 140px;
    padding: 20px 0 16px;
  }
  #arise-faq-header {
    padding: 20px 64px 40px;
  }
}
</style>
